html {
    color: #888;
    display: table;
    font-family: sans-serif;
    height: 100%;
    text-align: center;
    width: 100%;
   }
   
body {
    display: table-cell;
    vertical-align: middle;
    margin: 2em auto;
    }
